[submodule "libs/common"]
	path = libs/common
	url =  https://github.com/kirill-bayborodov/bignum-common.git
[submodule "libs/bignum-cmp"]
	path = libs/bignum-cmp
	url = https://github.com/kirill-bayborodov/bignum-cmp.git
